@model GarageManagementSystem.IdentityServer.Controllers.EditRoleViewModel

<form id="editRoleForm">
    @Html.AntiForgeryToken()
    <input type="hidden" name="Id" value="@Model.Id" />
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="editName">Role Name</label>
                    <input type="text" class="form-control" id="editName" name="Name" value="@Model.Name" required>
                </div>
                <div class="form-group">
                    <label for="editDescription">Description</label>
                    <textarea class="form-control" id="editDescription" name="Description" rows="3">@Model.Description</textarea>
                </div>
                <div class="form-group">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="editIsActive" name="IsActive" value="true" @(Model.IsActive ? "checked" : "")>
                        <input type="hidden" name="IsActive" value="false" />
                        <label class="custom-control-label" for="editIsActive">Active</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary">Update Role</button>
    </div>
</form>
